<a href="https://colab.research.google.com/github/azizpambayun/project/blob/main/covid_19_analysis_and_visualization_in_Indonesia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
!git clone 'https://github.com/azizpambayun/datasets'

Cloning into 'datasets'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 14 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (14/14), done.

In [4]:
!head datasets/covid_19_indonesia_time_series_all.csv

ï»¿Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,-22,Province,,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5,44,267,,664,10846145,16334.31,106.8361183,-6.204698991,0.18,3.60,0.00,1.84,0.18,51.28%,105.13%,,
3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,-20,Province,,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5,44,267,,664,10846145,16334.31,106.8361183,-6.204698991,0.18,3.78,0.00,1.84,0.18,48.78%,100.00%,1.00,1.00
3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,2,Country,,,Indonesia,Asia,,,,416,98,7230,8488,74953,1916907,265185520,138.34,113.921327,-0.789275,0.01,0.01,0.00,0.00,0.00,0.00%,0.00%,,
3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,-1,Province,,Riau,Indonesia,Asia,Sumatera,UTC+07:00,,10,2,169,268,1591,87024,6074100,69.80,101.8051092,0.511647851,0.16,0.33,0.00,0.00,0.00,0.00%,150.00%,,
3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,-18,Province,,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5,44,267,,664,10846145,16334.31,106.8361183,-6.204698991,0.18,3.96,0.00,1.84,0.18,46.51%,95.35%,1.00,1.00
3/3/2020,IDN,Indonesia,0,0,0,0,2,0,0,2,Country,,,Indonesia,Asia,,,,416,98,7230,8488,74953,1916907,265185520,138.34,113.921327,-0.789275,0.00,0.01,0.00,0.00,0.00,0.00%,0.00%,0.00,1.00
3/3/2020,ID-JB,Jawa Barat,1,1,0,0,1,1,8,-8,Province,,Jawa Barat,Indonesia,Asia,Jawa,UTC+07:00,,18,9,627,645,5312,35378,45161325,1276.55,107.6037083,-6.920432083,0.02,0.02,0.02,0.02,0.00,100.00%,800.00%,,
3/3/2020,ID-RI,Riau,0,0,0,0,2,0,3,-1,Province,,Riau,Indonesia,Asia,Sumatera,UTC+07:00,,10,2,169,268,1591,87024,6074100,69.80,101.8051092,0.511647851,0.00,0.33,0.00,0.00,0.00,0.00%,150.00%,0.00,1.00
3/4/2020,ID-JK,DKI Jakarta,2,0,0,2,45,20,41,-16,Province,,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5,44,267,,664,10846145,16334.31,106.8361183,-6.204698991,0.18,4.15,0.00,1.84,0.18,44.44%,91.11%,1.00,1.00

In [5]:
content = '''Date
Location_ISO_Code
Location
New_Cases
New_Deaths
New_Recovered
New_Active_Cases
Total_Cases
Total_Deaths
Total_Recovered
Total_Active_Cases
Location_Level
City_or_Regency
Province
Country
Continent
Island
Time_Zone
Special_Status
Total_Regencies
Total_Cities
Total_Districts
Total_Urban_Villages
Total_Rural_Villages
Area_(km2)
Population
Population_Density
Longitude
Latitude
New_Cases_per_Million
Total_Cases_per_Million
New_Deaths_per_Million
Total_Deaths_per_Million
Case_Fatality_Rate
Case_Recovered_Rate
Growth_Factor_of_New_Cases
Growth_Factor_of_New_Deaths'''

columns_list = content.split('\n')
#for i in range(len(columns_list)):
  #columns_list[i] = columns_list[i].strip()

In [6]:
covid = pd.read_csv('datasets/covid_19_indonesia_time_series_all.csv', header=0, names=columns_list, index_col=False)
covid = covid.set_index('Location')
covid.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  return func(*args, **kwargs)

                 Date  ... Growth_Factor_of_New_Deaths
Location               ...
DKI Jakarta  3/1/2020  ...                         NaN
DKI Jakarta  3/2/2020  ...                         1.0
Indonesia    3/2/2020  ...                         NaN
Riau         3/2/2020  ...                         NaN
DKI Jakarta  3/3/2020  ...                         1.0

[5 rows x 36 columns]

In [7]:
covid.info()
covid[0:7]

<class 'pandas.core.frame.DataFrame'>
Index: 21759 entries, DKI Jakarta to Indonesia
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  object
 1   Location_ISO_Code            21759 non-null  object
 2   New_Cases                    21759 non-null  int64
 3   New_Deaths                   21759 non-null  int64
 4   New_Recovered                21759 non-null  int64
 5   New_Active_Cases             21759 non-null  int64
 6   Total_Cases                  21759 non-null  int64
 7   Total_Deaths                 21759 non-null  int64
 8   Total_Recovered              21759 non-null  int64
 9   Total_Active_Cases           21759 non-null  int64
 10  Location_Level               21759 non-null  object
 11  City_or_Regency              0 non-null      float64
 12  Province                     21117 non-null  object
 13  Country                      21759 non-null  object
 14  Continent                    21759 non-null  object
 15  Island                       21117 non-null  object
 16  Time_Zone                    21117 non-null  object
 17  Special_Status               3123 non-null   object
 18  Total_Regencies              21759 non-null  int64
 19  Total_Cities                 21145 non-null  float64
 20  Total_Districts              21759 non-null  int64
 21  Total_Urban_Villages         21142 non-null  float64
 22  Total_Rural_Villages         21117 non-null  float64
 23  Area_(km2)                   21759 non-null  int64
 24  Population                   21759 non-null  int64
 25  Population_Density           21759 non-null  float64
 26  Longitude                    21759 non-null  float64
 27  Latitude                     21759 non-null  float64
 28  New_Cases_per_Million        21759 non-null  float64
 29  Total_Cases_per_Million      21759 non-null  float64
 30  New_Deaths_per_Million       21759 non-null  float64
 31  Total_Deaths_per_Million     21759 non-null  float64
 32  Case_Fatality_Rate           21759 non-null  float64
 33  Case_Recovered_Rate          21759 non-null  object
 34  Growth_Factor_of_New_Cases   21759 non-null  object
 35  Growth_Factor_of_New_Deaths  20572 non-null  float64
dtypes: float64(13), int64(12), object(11)
memory usage: 6.1+ MB

                 Date  ... Growth_Factor_of_New_Deaths
Location               ...
DKI Jakarta  3/1/2020  ...                         NaN
DKI Jakarta  3/2/2020  ...                         1.0
Indonesia    3/2/2020  ...                         NaN
Riau         3/2/2020  ...                         NaN
DKI Jakarta  3/3/2020  ...                         1.0
Indonesia    3/3/2020  ...                         0.0
Jawa Barat   3/3/2020  ...                         NaN

[7 rows x 36 columns]

In [9]:
# We don't select all the column to make it easy to analyze
covid = covid[['Date','Location_ISO_Code','New_Cases','New_Deaths','Total_Cases','Total_Deaths',
               'Total_Recovered','New_Active_Cases','Total_Active_Cases','Longitude','Latitude']]
covid.head()

                 Date Location_ISO_Code  ...   Longitude  Latitude
Location                                 ...
DKI Jakarta  3/1/2020             ID-JK  ...  106.836118 -6.204699
DKI Jakarta  3/2/2020             ID-JK  ...  106.836118 -6.204699
Indonesia    3/2/2020               IDN  ...  113.921327 -0.789275
Riau         3/2/2020             ID-RI  ...  101.805109  0.511648
DKI Jakarta  3/3/2020             ID-JK  ...  106.836118 -6.204699

[5 rows x 11 columns]

In [13]:
# We convert the date column that still in object form into date type 
covid['Date'] = pd.to_datetime(covid['Date'])
covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21759 entries, DKI Jakarta to Indonesia
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                21759 non-null  datetime64[ns]
 1   Location_ISO_Code   21759 non-null  object
 2   New_Cases           21759 non-null  int64
 3   New_Deaths          21759 non-null  int64
 4   Total_Cases         21759 non-null  int64
 5   Total_Deaths        21759 non-null  int64
 6   Total_Recovered     21759 non-null  int64
 7   New_Active_Cases    21759 non-null  int64
 8   Total_Active_Cases  21759 non-null  int64
 9   Longitude           21759 non-null  float64
 10  Latitude            21759 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(7), object(1)
memory usage: 2.5+ MB